
.about-us{
   /* color: oldlace; */
   color:gold;
   background-color: black;
    /* background-color: slategray */
    /* max-width: 800px; */
    /* margin: 0 auto; */
    padding:47px;
    height:600px;
   
  }
.titleA{
   font-size: 55px;

}
.paragraph{
   font-size: 22px;
   padding:10px;
}

  /* .about-us img {
display: block;
margin: 0 auto;
width: 200px;
border-radius:50px
  }
  .about-us h1{
    font-size:36px;
    margin-bottom:20px
  }
  .about-us p{
    margin-bottom: 20px;
  } */